- model_class = Company
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th
      %th Name
      %th Country
  %tbody
    - @companies.each do |company|
      %tr
        %td
          %i.fa.fa-star-o.fa-2x{data: {favorite: company.to_json}}
          %i.fa.fa-star.fa-2x
        %td= link_to company.name, company
        %td=Country.find_country_by_country_code(company.country_code).name